<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.wman.crash">

    <application >
        <activity android:name=".activity.DefaultErrorActivity"
                  android:process=":error_activity"
                  android:theme="@style/CustomActivityOnCrashTheme"/>
    </application>

</manifest>
